* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("images/page_bg.gif");
	background-repeat: repeat;
}

.container {
	margin: 0 auto;
	width: 744px;
    min-height: 830px;
	background-color: #fff;
}

header {
	background-image: url("images/header_bg.gif");
	background-repeat: repeat-x;
	height: 72px;
}

header img {
	margin: 9px 0px 0px 0px;
}

header ul {
	display: inline-block;
	list-style-type: none;
	float: right;
    margin: 35px 25px 5px 5px;
}

header ul li {
	display: inline-block;
	font-family: sans-serif;
}

header ul li:first-child {
	border-right: 2px solid white;
    border-spacing: 5px;
    padding-right: 10px;
}

header ul li:last-child{
	border-left: 2px solid white;
    border-spacing: 5px;
    padding-left: 10px;
}

header ul li:nth-child(2) {
	padding: 0 5px;
}

header ul li a, .genres_div ul li a, footer ul li a {
	color: #fff;
	text-decoration: none;
}

.left {
	width: 25%;
	float: left;
	margin-left: 3px;
}

.full_category_div {
	background-image: url("images/dt_bg.gif");
	background-repeat: repeat-x;
	background-color: #c80000;
	height: 29px;
}

.right {
	width: 73%;
    float: right;
}

.full_category_div p {
	color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
}

.genres_div {
	background-color: #227293;
    padding-bottom: 5px;
}

.genres_div ul {
    margin: 2px 0px;
    padding-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
    list-style-type: none;
}

.genres_div ul li {
	font-size: 12px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid gray;
    padding: 0px 0px 5px 20px;
}

.genres_div ul li:last-child {
	border: none;
	padding-bottom: 0px;
}

.genres_div ul li a {
	margin-bottom: 10px;
}

.search_div {
	background-image: url("images/dt_bg.gif");
	background-repeat: repeat-x;
	margin-top: 3px;
}

.search_div p {
	color: #fff;
	padding: 6px 0px 5px 0px;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
}

.form_div {
	background-color: #227293;
    margin: 3px 0px 0px 0px;
    padding: 10px 10px 10px 20px;
}

.form_div select {
	width: 85%;
}

.form_div input[type=text] {
	margin: 10px 0px 10px 0px;
    width: 90%;
}

.form_div button {
	margin-left: 70px;
    outline: 0;
    border-radius: 20px;
}

.product a {
	color: brown;
    display: block;
    margin: 10px 0px 0px 175px;
    font-size: 12px;
}

.product p {
	display: inline-block;
    width: 51%;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
}

.product image {
	width: 93px;
	height: 95px;
}

h5 {
	font-size: 12px;
    margin: 10px 0px 10px 5px;
    text-align: center;
    color: gray;
}

.product {
	width: 250px;
	display: inline-block;
}

.row {
	margin: 0 5px 0 15px;
	margin-bottom: 15px;
}

footer {
	clear: both;
	background-image: url("images/footer_bg.gif");
	background-repeat: repeat-x;
	height: 25px;
	position: relative;
}

footer h5 {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	margin: auto;
	padding-top: 7px;
	margin-left: 240px;
	text-align: center;
}

footer ul {
	display: inline-block;
	float: right;
	margin-top: 3px;
}

footer ul li {
	display: inline-block;
    margin: 0px 5px 1 5px;
    font-size: 11px;
    font-family: sans-serif;
}

footer ul li:last-child {
	border-left: 2px solid white;
    border-spacing: 5px;
    padding-left: 5px;
    margin-left: 0px;
}

footer ul li:first-child {
	padding-right: 0px;
    margin-right: 2px;
}

